.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 100%;
    padding: 15px 60px;
    .left {
        display: flex;
        gap: 30px;
        align-items: center;
        width: 40%;
        font-weight: 800;
        font-size: 15px;
        img {
            height: 10%;
            // width: 20%;
        }
        a {
            span {
                color: black;
                &:hover {
                    color: #fd5901;
                    cursor: pointer;
                }
            }
        }
    }

    .right {
    }
    .hamburger {
        display: none;
    }
}
